$main-color: rgb(255, 255, 255);
$secondary-color: #000;
$orange-color: rgba(235, 97, 17, 0.952);
$gray-color: rgb(97, 93, 93);
$cream-color: rgb(252, 239, 221);
$orange-section: rgb(236, 95, 70);
$login-color: rgb(175, 140, 255);
