@import "./colors";
@import "./fonts";

.memories {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  h1 {
    color: aliceblue;
  }
  p {
    margin-left: 10;
  }
}

@media only screen and (min-width: 600px) {
  .memories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1000px) {
  .memories {
    grid-template-columns: repeat(3, 1fr);
  }
}
