@import "./colors";

.all-memory {
  border: 2px solid $orange-color;
  border-radius: 50px 20px;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  color: $cream-color;

  .memory-image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    margin: 1rem;
  }

  .close {
    background-color: $gray-color;
    width: 10%;
  }
}
